@page "/new"
@using CustomerWeb.RESTClients
@using CustomerWeb.Models
@using CustomerWeb.Commands
@using Microsoft.AspNetCore.Mvc
@rendermode InteractiveServer
@inject ICustomerExperienceApi CustomerExperienceApi;

<PageTitle>Register Subscription</PageTitle>

<h1>Register Subscription</h1>

<EditForm Model="@model" OnValidSubmit="@Register" class="row g-3">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="col-md-6">
        <label for="firstName" class="form-label">First name</label>
        <InputText id="firstName" class="form-control" @bind-Value="@model.FirstName"/>
        <ValidationMessage For="@(() => model.FirstName)"/>
    </div>

    <div class="col-md-6">
        <label for="lastName" class="form-label">Last name</label>
        <InputText id="lastName" class="form-control" @bind-Value="@model.LastName"/>
        <ValidationMessage For="@(() => model.LastName)"/>
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" class="form-control" @bind-Value="@model.Email"/>
        <ValidationMessage For="@(() => model.Email)"/>
    </div>

    <div class="col-md-6">
        <label for="birthDate">Birth Date</label>
        <InputDate id="birthDate" class="form-control" @bind-Value="@model.BirthDate" />
        <ValidationMessage For="@(() => model.BirthDate)"/>
    </div>

    <div class="col-md-6">
        <label for="loanAmount">Loan amount</label>
        <InputNumber id="loanAmount" class="form-control"  @bind-Value="@model.LoanAmount" />
        <ValidationMessage For="@(() => model.LoanAmount)"/>
    </div>
    
    <div class="col-md-6">
        <label for="insuredAmount">Insured amount</label>
        <InputNumber id="insuredAmount" class="form-control" @bind-Value="@model.InsuredAmount"/>
        <ValidationMessage For="@(() => model.InsuredAmount)"/>
    </div>
    
    <div class="col-md-6">
        <label for="productId" class="form-label">Product</label>
        <InputText id="productId" class="form-control" @bind-Value="@model.ProductId"/>
        <ValidationMessage For="@(() => model.ProductId)"/>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</EditForm>


@code {

    private readonly RegisterSubscriptionRequestModel model = new();

    private async Task<ActionResult> Register()
    {
        var command = new RegisterSubscriptionRequestCommand()
        {
            BirthDate = model.BirthDate,
            Email = model.Email!,
            FirstName = model.FirstName!,
            LastName = model.LastName!,
            InsuredAmount = model.InsuredAmount,
            LoanAmount = model.LoanAmount,
            ProductId = model.ProductId!
        };
        
        await CustomerExperienceApi.RegisterSubscription(command);

        return new RedirectResult("/");
    }
}